/* color pallet */
/* 1 hsl(251, 100%, 5%)
2
3hsl(251, 100%, 12%)
4
5 hsl(251, 100%, 18%);
6
7hsl(251, 60%, 25%);
8hsl(251, 80%, 85%);
9hsl(251, 60%, 90%)
10 hsl(251, 100%, 98%)*/
/* CSS */
body {
    background-color: hsl(251, 100%, 98%);
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans', sans-serif;
}

main {
max-width: 100%;
padding: 1rem;
min-height: 40rem;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
}

.display-readings {
    margin-top: 0;
}



.tarot-card {
    background-color: transparent;
    width: 12rem;
    height: 23rem;
    perspective: 1000px;
    margin: 0 2rem 2rem 2rem;
}

.desc-div {
    position: absolute;
    left: 15rem;
    top: 0;
    left: 15rem;
    width: 30rem;
    margin-left: 1rem;
}

.tarot-card > img {
    width: 12rem;
}


/* This container is needed to position the front and back side */
.inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    margin-bottom: 1rem;
    }

/* Do an horizontal flip when you move the mouse over the flip box container */
.tarot-card:hover .inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.front, .back {
    background: hsl(251, 60%, 90%);
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    margin-left: 1rem;
}

/* Style the front side (fallback if image is missing) */
.front {
    color: hsl(251, 100%, 12%);
    box-shadow: 3px 3px 8px hsl(251, 60%, 90%);
}

/* Style the back side */
.back {
    padding: 0.5rem;
    transform: rotateY(180deg);
    box-shadow: 3px 3px 8px hsl(251, 60%, 90%);
}

.upside-down {
    -webkit-transform: rotate(180deg);
}

button, input[type="submit"] {
    border: none;
    width: 10rem;
    height: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    z-index: 3;
    color: hsl(251, 100%, 18%);
    background-color: hsl(251, 100%, 98%);
}

button:hover {
    cursor: pointer;
}


header {
    width: 100%;
    height: 250px;
    border-bottom: 1px solid hsl(251, 100%, 18%);
    margin: 0;
    position: relative;
}

header > h1 {
    font-family: 'Exo', sans-serif;
    position: absolute;
    font-weight: lighter;
    padding: 1rem 1rem 0rem 1rem;
    font-size: 4rem;
    left: 160px;
    top: 30px;
    color: hsl(251, 100%, 18%);
}

#tarot-header {
    color: hsl(251, 100%, 98%);
}

header > img {
    position: absolute;
    width: 300px;
    padding: 15px;
    margin: 25px;
    border-radius: 50%;
}

footer {
    height: 4rem;
    border-top: 1px solid hsl(251, 100%, 18%);
    padding: 2rem;
    margin-top: 1rem;
    position: relative;
}

footer > img {
    border-radius: 100%;
    position: absolute;
    right: 2rem;
    bottom: 1.5rem;
    height: 6rem;
}

.display-readings > h3 {
    font-family: 'Exo', sans-serif;
}

.back-button, .delete {
    width: 4.5rem;
    background-color: hsl(251, 100%, 12%);
    color:hsl(251, 100%, 98%);
    margin: 0 1rem 0rem 1rem;
    z-index: 2;
}

.delete {
    margin-left: 3.5rem;
}

.question-display {
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Exo', sans-serif;
}

.question {
    font-size: 2rem;
}

.hidden {
    display: none;
}
